// colors:
$green-color: #81b29a;
$orange-color: #f2cc8f;
$red-color: #e07a5f;
$white-color: white;
$black-color: #303d3a;

//size of the main contents: header main footer
$width: 100vw;
$height: 100vh;

// for the font-size
$size : 1.2rem;

// for the paddings and the margins
$padding: 1rem;

//z-index:
$index: 1;

