#div-index{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#index-logo{
    width: $width * 0.2;
    height: auto;
    animation: anime-logo ease forwards 2s;
   }
 
   @keyframes anime-logo {
0%{
    transform: scale(1.5);
}
50%{
    transform: scale(1.8);
}
100%{
    transform: scale(0.5);
}}