
//div contient le svg: route
.popup {
    position: fixed;
    display: none;
    background-color: $white-color;
    margin: auto;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);  
    width: $width*0.3;  
    height: $height*0.6;  
    border-radius: 10%;
    border: 1px solid $black-color;
}

//id du svg
#fig-route{
    width: $width * 0.8;
    height: $height * 0.8;
}